<div class="outside">
  <button (mousedown)="startinterval('left')" (mouseup)="stop()"  class="left"></button>
  <button (mousedown)="startinterval('right')" (mouseup)="stop()"  class="right"></button>
  <button (mousedown)="startinterval('up')" (mouseup)="stop()"  class="top"></button>
  <button (mousedown)="startinterval('down')" (mouseup)="stop()" class="bottom"></button>
  <div id="instructions" class="instructions">Use keyboard arrow keys to move the box inside the outer box
        or click on the borders to move the box in that direction
  </div>
  <div id="in" class="inside">
</div>